@charset "UTF-8";
@keyframes snow-animation {
  0%, 100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  0% {
    transform: translate(100px, 0);
  }
  100% {
    transform: translate(0, 350px);
  }
}
* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

.all {
  width: 100%;
  height: 100vh;
  background-color: rgb(162, 173, 162);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardall {
  width: 80%;
  height: 90%;
  background-color: black;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.cardall h1 {
  font-size: 100px;
  font-weight: bolder;
  font-family: 微軟正黑體;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.img1 {
  width: 250px;
  position: absolute;
  bottom: 230px;
  left: 50%;
  transform: translateX(-50%);
}

.img2 {
  width: 250px;
  position: absolute;
  bottom: 220px;
  left: 20%;
  transform: translateX(-50%);
  transform: rotate(-5deg);
}

.img3 {
  width: 200px;
  position: absolute;
  bottom: 225px;
  left: 60%;
  transform: translateX(-50%);
  transform: rotate(5deg);
}

.img4 {
  width: 170px;
  position: absolute;
  bottom: 190px;
  left: 77%;
  transform: translateX(-50%);
  transform: rotate(10deg);
}

.snowbox {
  width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 45%;
  position: absolute;
  bottom: -20%;
}

@keyframes moonrotate {
  0% {
    transform: rotate();
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.moon {
  width: 120px;
  height: 120px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 20px 10px 0 0 yellow;
  position: absolute;
  top: 70px;
  left: 180px;
  animation-name: moonrotate;
  animation-duration: 8S;
  animation-delay: -1s;
  animation-iteration-count: infinite;
}

.allsnow {
  width: 100%;
  height: 100%;
  margin: auto;
}

.ssnow1 {
  width: 5px;
  height: 5px;
  background-color: rgb(20, 190, 44);
  border-radius: 50%;
  position: relative;
  left: 6.0270280853%;
  top: 8.6798206594px;
  animation-name: snow-animation;
  animation-duration: 4.9184193324S;
  animation-iteration-count: infinite;
  animation-delay: -0.8339363558s;
}

.ssnow2 {
  width: 5px;
  height: 5px;
  background-color: rgb(68, 253, 65);
  border-radius: 50%;
  position: relative;
  left: 40.1818958553%;
  top: 336.8884619473px;
  animation-name: snow-animation;
  animation-duration: 3.7182880661S;
  animation-iteration-count: infinite;
  animation-delay: -1.6123194552s;
}

.ssnow3 {
  width: 5px;
  height: 5px;
  background-color: rgb(216, 6, 7);
  border-radius: 50%;
  position: relative;
  left: 42.8621678005%;
  top: 116.7910475842px;
  animation-name: snow-animation;
  animation-duration: 2.2593144269S;
  animation-iteration-count: infinite;
  animation-delay: -1.5379371431s;
}

.ssnow4 {
  width: 5px;
  height: 5px;
  background-color: rgb(31, 226, 188);
  border-radius: 50%;
  position: relative;
  left: 45.3142629715%;
  top: 93.2695395779px;
  animation-name: snow-animation;
  animation-duration: 4.7263693999S;
  animation-iteration-count: infinite;
  animation-delay: -1.289500805s;
}

.ssnow5 {
  width: 5px;
  height: 5px;
  background-color: rgb(45, 121, 126);
  border-radius: 50%;
  position: relative;
  left: 4.1239840537%;
  top: 201.8477893385px;
  animation-name: snow-animation;
  animation-duration: 2.3484377125S;
  animation-iteration-count: infinite;
  animation-delay: -1.1365990449s;
}

.ssnow6 {
  width: 5px;
  height: 5px;
  background-color: rgb(97, 58, 158);
  border-radius: 50%;
  position: relative;
  left: 21.6717569345%;
  top: 223.272182236px;
  animation-name: snow-animation;
  animation-duration: 3.6843273751S;
  animation-iteration-count: infinite;
  animation-delay: -0.504626689s;
}

.ssnow7 {
  width: 5px;
  height: 5px;
  background-color: rgb(237, 68, 7);
  border-radius: 50%;
  position: relative;
  left: 4.639127575%;
  top: 35.645068792px;
  animation-name: snow-animation;
  animation-duration: 2.0081013469S;
  animation-iteration-count: infinite;
  animation-delay: -0.1433861262s;
}

.ssnow8 {
  width: 5px;
  height: 5px;
  background-color: rgb(210, 76, 177);
  border-radius: 50%;
  position: relative;
  left: 20.0426458199%;
  top: 124.9321568715px;
  animation-name: snow-animation;
  animation-duration: 2.7242097717S;
  animation-iteration-count: infinite;
  animation-delay: -0.2174384835s;
}

.ssnow9 {
  width: 5px;
  height: 5px;
  background-color: rgb(221, 226, 172);
  border-radius: 50%;
  position: relative;
  left: 22.9744752907%;
  top: 103.7522436479px;
  animation-name: snow-animation;
  animation-duration: 2.4947460748S;
  animation-iteration-count: infinite;
  animation-delay: -1.7391511814s;
}

.ssnow10 {
  width: 5px;
  height: 5px;
  background-color: rgb(81, 75, 189);
  border-radius: 50%;
  position: relative;
  left: 21.6715634452%;
  top: 260.6310525984px;
  animation-name: snow-animation;
  animation-duration: 3.7081974837S;
  animation-iteration-count: infinite;
  animation-delay: -0.7450206987s;
}

.ssnow11 {
  width: 5px;
  height: 5px;
  background-color: rgb(182, 32, 237);
  border-radius: 50%;
  position: relative;
  left: 51.2453258115%;
  top: 364.9896336723px;
  animation-name: snow-animation;
  animation-duration: 3.8600216942S;
  animation-iteration-count: infinite;
  animation-delay: -1.3352757828s;
}

.ssnow12 {
  width: 5px;
  height: 5px;
  background-color: rgb(130, 202, 63);
  border-radius: 50%;
  position: relative;
  left: 14.7453204381%;
  top: 220.1665905107px;
  animation-name: snow-animation;
  animation-duration: 4.6774116277S;
  animation-iteration-count: infinite;
  animation-delay: -1.9996462867s;
}

.ssnow13 {
  width: 5px;
  height: 5px;
  background-color: rgb(190, 10, 46);
  border-radius: 50%;
  position: relative;
  left: 31.3896898965%;
  top: 167.4776102246px;
  animation-name: snow-animation;
  animation-duration: 4.3477908138S;
  animation-iteration-count: infinite;
  animation-delay: -0.9198498506s;
}

.ssnow14 {
  width: 5px;
  height: 5px;
  background-color: rgb(19, 15, 27);
  border-radius: 50%;
  position: relative;
  left: 56.8125390924%;
  top: 187.9891578773px;
  animation-name: snow-animation;
  animation-duration: 4.6733939512S;
  animation-iteration-count: infinite;
  animation-delay: -1.7641802781s;
}

.ssnow15 {
  width: 5px;
  height: 5px;
  background-color: rgb(57, 255, 76);
  border-radius: 50%;
  position: relative;
  left: 4.3893665119%;
  top: 466.0515016565px;
  animation-name: snow-animation;
  animation-duration: 3.5907439494S;
  animation-iteration-count: infinite;
  animation-delay: -0.3745573227s;
}

.ssnow16 {
  width: 5px;
  height: 5px;
  background-color: rgb(191, 211, 46);
  border-radius: 50%;
  position: relative;
  left: 16.9224647059%;
  top: 5.9527793885px;
  animation-name: snow-animation;
  animation-duration: 2.9689642511S;
  animation-iteration-count: infinite;
  animation-delay: -0.2736791248s;
}

.ssnow17 {
  width: 5px;
  height: 5px;
  background-color: rgb(36, 218, 94);
  border-radius: 50%;
  position: relative;
  left: 30.3613250759%;
  top: 499.8881106236px;
  animation-name: snow-animation;
  animation-duration: 4.3971783022S;
  animation-iteration-count: infinite;
  animation-delay: -0.6945382167s;
}

.ssnow18 {
  width: 5px;
  height: 5px;
  background-color: rgb(202, 103, 95);
  border-radius: 50%;
  position: relative;
  left: 46.0119723989%;
  top: 454.6679926308px;
  animation-name: snow-animation;
  animation-duration: 2.5174361793S;
  animation-iteration-count: infinite;
  animation-delay: -1.1798764057s;
}

.ssnow19 {
  width: 5px;
  height: 5px;
  background-color: rgb(23, 154, 226);
  border-radius: 50%;
  position: relative;
  left: 34.2796732668%;
  top: 308.0343610639px;
  animation-name: snow-animation;
  animation-duration: 2.7597837435S;
  animation-iteration-count: infinite;
  animation-delay: -1.3482598349s;
}

.ssnow20 {
  width: 5px;
  height: 5px;
  background-color: rgb(122, 196, 31);
  border-radius: 50%;
  position: relative;
  left: 69.4880735962%;
  top: 145.3234949515px;
  animation-name: snow-animation;
  animation-duration: 2.8882317537S;
  animation-iteration-count: infinite;
  animation-delay: -1.879744516s;
}

.ssnow21 {
  width: 5px;
  height: 5px;
  background-color: rgb(142, 161, 206);
  border-radius: 50%;
  position: relative;
  left: 68.8040745844%;
  top: 483.709738173px;
  animation-name: snow-animation;
  animation-duration: 2.116567024S;
  animation-iteration-count: infinite;
  animation-delay: -0.2348394099s;
}

.ssnow22 {
  width: 5px;
  height: 5px;
  background-color: rgb(77, 233, 44);
  border-radius: 50%;
  position: relative;
  left: 25.8644155087%;
  top: 266.800939569px;
  animation-name: snow-animation;
  animation-duration: 2.1824945867S;
  animation-iteration-count: infinite;
  animation-delay: -0.7844390603s;
}

.ssnow23 {
  width: 5px;
  height: 5px;
  background-color: rgb(179, 77, 24);
  border-radius: 50%;
  position: relative;
  left: 54.9851334312%;
  top: 193.3752143273px;
  animation-name: snow-animation;
  animation-duration: 2.9999872436S;
  animation-iteration-count: infinite;
  animation-delay: -0.9473236344s;
}

.ssnow24 {
  width: 5px;
  height: 5px;
  background-color: rgb(109, 53, 188);
  border-radius: 50%;
  position: relative;
  left: 63.2366643974%;
  top: 448.8813712753px;
  animation-name: snow-animation;
  animation-duration: 4.9873399685S;
  animation-iteration-count: infinite;
  animation-delay: -1.7273134646s;
}

.ssnow25 {
  width: 5px;
  height: 5px;
  background-color: rgb(230, 192, 35);
  border-radius: 50%;
  position: relative;
  left: 56.3239124621%;
  top: 346.1320027168px;
  animation-name: snow-animation;
  animation-duration: 4.6908588168S;
  animation-iteration-count: infinite;
  animation-delay: -0.0669690037s;
}

.ssnow26 {
  width: 5px;
  height: 5px;
  background-color: rgb(38, 50, 244);
  border-radius: 50%;
  position: relative;
  left: 61.7055023736%;
  top: 58.4319849301px;
  animation-name: snow-animation;
  animation-duration: 2.3366032405S;
  animation-iteration-count: infinite;
  animation-delay: -0.4986323994s;
}

.ssnow27 {
  width: 5px;
  height: 5px;
  background-color: rgb(151, 132, 197);
  border-radius: 50%;
  position: relative;
  left: 24.647202205%;
  top: 210.2852435837px;
  animation-name: snow-animation;
  animation-duration: 3.8015449013S;
  animation-iteration-count: infinite;
  animation-delay: -1.0569003721s;
}

.ssnow28 {
  width: 5px;
  height: 5px;
  background-color: rgb(138, 50, 185);
  border-radius: 50%;
  position: relative;
  left: 6.6181969435%;
  top: 260.0120990008px;
  animation-name: snow-animation;
  animation-duration: 4.2513991702S;
  animation-iteration-count: infinite;
  animation-delay: -1.1214308242s;
}

.ssnow29 {
  width: 5px;
  height: 5px;
  background-color: rgb(18, 233, 28);
  border-radius: 50%;
  position: relative;
  left: 46.7695312908%;
  top: 340.8897590413px;
  animation-name: snow-animation;
  animation-duration: 2.2521544919S;
  animation-iteration-count: infinite;
  animation-delay: -0.6918916437s;
}

.ssnow30 {
  width: 5px;
  height: 5px;
  background-color: rgb(241, 99, 42);
  border-radius: 50%;
  position: relative;
  left: 69.3260502553%;
  top: 183.3338462016px;
  animation-name: snow-animation;
  animation-duration: 4.1003138098S;
  animation-iteration-count: infinite;
  animation-delay: -1.7330453873s;
}

.ssnow31 {
  width: 5px;
  height: 5px;
  background-color: rgb(237, 190, 173);
  border-radius: 50%;
  position: relative;
  left: 39.1967383299%;
  top: 132.5279104109px;
  animation-name: snow-animation;
  animation-duration: 3.4088766715S;
  animation-iteration-count: infinite;
  animation-delay: -0.6982263054s;
}

.ssnow32 {
  width: 5px;
  height: 5px;
  background-color: rgb(152, 225, 156);
  border-radius: 50%;
  position: relative;
  left: 33.6639299287%;
  top: 254.5414802257px;
  animation-name: snow-animation;
  animation-duration: 2.7030530311S;
  animation-iteration-count: infinite;
  animation-delay: -1.98618371s;
}

.ssnow33 {
  width: 5px;
  height: 5px;
  background-color: rgb(229, 176, 87);
  border-radius: 50%;
  position: relative;
  left: 8.6089417982%;
  top: 244.1162589566px;
  animation-name: snow-animation;
  animation-duration: 3.2027497363S;
  animation-iteration-count: infinite;
  animation-delay: -0.8912318724s;
}

.ssnow34 {
  width: 5px;
  height: 5px;
  background-color: rgb(52, 126, 66);
  border-radius: 50%;
  position: relative;
  left: 43.9026371156%;
  top: 447.5955377504px;
  animation-name: snow-animation;
  animation-duration: 4.7442126342S;
  animation-iteration-count: infinite;
  animation-delay: -1.7921759881s;
}

.ssnow35 {
  width: 5px;
  height: 5px;
  background-color: rgb(205, 217, 179);
  border-radius: 50%;
  position: relative;
  left: 33.4508746257%;
  top: 354.557483663px;
  animation-name: snow-animation;
  animation-duration: 3.2709242008S;
  animation-iteration-count: infinite;
  animation-delay: -1.9020994106s;
}

.ssnow36 {
  width: 5px;
  height: 5px;
  background-color: rgb(160, 100, 67);
  border-radius: 50%;
  position: relative;
  left: 65.8484348412%;
  top: 274.7965005048px;
  animation-name: snow-animation;
  animation-duration: 4.6144992013S;
  animation-iteration-count: infinite;
  animation-delay: -0.0189033316s;
}

.ssnow37 {
  width: 5px;
  height: 5px;
  background-color: rgb(109, 84, 141);
  border-radius: 50%;
  position: relative;
  left: 45.0238649584%;
  top: 217.4696492706px;
  animation-name: snow-animation;
  animation-duration: 3.7776316501S;
  animation-iteration-count: infinite;
  animation-delay: -0.9628852642s;
}

.ssnow38 {
  width: 5px;
  height: 5px;
  background-color: rgb(9, 60, 83);
  border-radius: 50%;
  position: relative;
  left: 12.9003476521%;
  top: 7.2067081029px;
  animation-name: snow-animation;
  animation-duration: 3.9382041236S;
  animation-iteration-count: infinite;
  animation-delay: -1.4152286238s;
}

.ssnow39 {
  width: 5px;
  height: 5px;
  background-color: rgb(243, 63, 49);
  border-radius: 50%;
  position: relative;
  left: 51.8885766481%;
  top: 39.9623871232px;
  animation-name: snow-animation;
  animation-duration: 2.2393498689S;
  animation-iteration-count: infinite;
  animation-delay: -1.1471837934s;
}/*# sourceMappingURL=mooncard.css.map */